<config debug="0">
  <database-name>resourcedb</database-name>
  <database-root-username>root</database-root-username>
  <database-root-password>root-pass</database-root-password>
  <database-readonly-username>readonly-user</database-readonly-username>
  <database-readonly-password>readonly-pass</database-readonly-password>
  <database-readwrite-username>readwrite-user</database-readwrite-username>
  <database-readwrite-password>readwrite-pass</database-readwrite-password>
  <database-host>localhost</database-host>
  <database-port>3306</database-port> 
  <database-query-debug>0</database-query-debug>
  <geoip>
    <config_files>
      <country>/usr/share/GeoIP/GeoIP.dat</country>
      <country_ipv6>/usr/share/GeoIP/GeoIPv6.dat</country_ipv6>
      <city>/usr/share/GeoIP/GeoIPCity.dat</city>
      <city_ipv6>/usr/share/GeoIP/GeoIPCityv6.dat</city_ipv6>
      <asn>/usr/share/GeoIP/GeoLiteASNum.dat</asn>
      <asn_ipv6>/usr/share/GeoIP/GeoLiteASNumv6.dat</asn_ipv6>
    </config_files>
  </geoip>
</config>
