Alias /rdb/api /usr/share/resourcedb/www/api
Alias /rdb     /usr/share/resourcedb/www/static

<Location /rdb>
  AuthType Basic
  AuthName "ScienceRegistry"
  AuthUserFile /usr/share/resourcedb/www/.htpasswd
  Require valid-user

#  Options +FollowSymLinks
#  SSLRequireSSL

  DirectoryIndex index.html

  AddHandler cgi-script .cgi
  Options +ExecCGI
</Location>

